In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('DATA_COURSE.CSV')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3522 entries, 0 to 3521
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3522 non-null   object
 1   University          3522 non-null   object
 2   Difficulty Level    3522 non-null   object
 3   Course Rating       3522 non-null   object
 4   Course URL          3522 non-null   object
 5   Course Description  3522 non-null   object
 6   Skills              3522 non-null   object
dtypes: object(7)
memory usage: 192.7+ KB

In [4]:
df.head(3)

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Michigan State University,Beginner,4.8,https://www.coursera.org/learn/write-a-feature...,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Coursera Project Network,Beginner,4.8,https://www.coursera.org/learn/canvas-analysis...,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,�cole Polytechnique,Advanced,4.1,https://www.coursera.org/learn/silicon-thin-fi...,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...

In [5]:
df.shape

(3522, 7)

In [6]:
df.isnull().sum()

Course Name           0
University            0
Difficulty Level      0
Course Rating         0
Course URL            0
Course Description    0
Skills                0
dtype: int64

In [7]:
df['Difficulty Level'].value_counts()

Beginner          1444
Advanced          1005
Intermediate       837
Conversant         186
Not Calibrated      50
Name: Difficulty Level, dtype: int64

In [8]:
df['Course Rating'].value_counts()

4.7               740
4.6               623
4.8               598
4.5               389
4.4               242
4.9               180
4.3               165
4.2               121
5                  90
4.1                85
Not Calibrated     82
4                  51
3.8                24
3.9                20
3.6                18
3.7                18
3.5                17
3.4                13
3                  12
3.2                 9
3.3                 6
2.9                 6
2.6                 2
2.8                 2
2.4                 2
1                   2
2                   1
3.1                 1
2.5                 1
1.9                 1
2.3                 1
Name: Course Rating, dtype: int64

In [9]:
df['University'].value_counts()

Coursera Project Network                      562
University of Illinois at Urbana-Champaign    138
Johns Hopkins University                      110
University of Michigan                        101
University of Colorado Boulder                101
                                             ...
GitLab                                          1
Yeshiva University                              1
University of Glasgow                           1
Laureate Education                              1
The World Bank Group                            1
Name: University, Length: 184, dtype: int64

In [10]:
# Important columns to be used in recommendation system :
#  Course Name : Names of the courses
#  Course Description : Similar courses may have similar course description
#  Skills : Users may want to see courses based on same skills
#  Difficulty Level : Similar courses as per difficulty level

In [11]:
df = df[['Course Name','Difficulty Level','Course Description','Skills']]

In [12]:
df.head(3)

,Course Name,Difficulty Level,Course Description,Skills
0,Write A Feature Length Screenplay For Film Or ...,Beginner,Write a Full Length Feature Film Script In th...,Drama Comedy peering screenwriting film D...
1,Business Strategy: Business Model Canvas Analy...,Beginner,"By the end of this guided project, you will be...",Finance business plan persona (user experien...
2,Silicon Thin Film Solar Cells,Advanced,This course consists of a general presentation...,chemistry physics Solar Energy film lambda...

In [13]:
df['Course Name'] = df['Course Name'].str.replace(' ',',')

In [14]:
df['Course Name'] = df['Course Name'].str.replace(',,',',')

In [15]:
df['Course Name'] = df['Course Name'].str.replace(':','')

In [16]:
df['Course Description'] = df['Course Description'].str.replace(' ',',')

In [17]:
df['Course Description'] = df['Course Description'].str.replace(',,',',')

In [18]:
df['Course Description'] = df['Course Description'].str.replace('_','')

In [19]:
df['Course Description'] = df['Course Description'].str.replace(':','')

In [20]:
df['Course Description'] = df['Course Description'].str.replace('(','')

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_15640\3477706168.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Course Description'] = df['Course Description'].str.replace('(','')

In [21]:
df['Course Description'] = df['Course Description'].str.replace(')','')

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_15640\3451734519.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Course Description'] = df['Course Description'].str.replace(')','')

In [22]:
#removing paranthesis from skills columns 
df['Skills'] = df['Skills'].str.replace('(','')
df['Skills'] = df['Skills'].str.replace(')','')

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_15640\3013961880.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Skills'] = df['Skills'].str.replace('(','')
C:\Users\SNEHA\AppData\Local\Temp\ipykernel_15640\3013961880.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['Skills'] = df['Skills'].str.replace(')','')

In [23]:
df.head(5)

,Course Name,Difficulty Level,Course Description,Skills
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database management...

In [24]:
df['tags'] = df['Course Name'] + df['Difficulty Level'] + df['Course Description'] + df['Skills']

In [25]:
df.head(5)

,Course Name,Difficulty Level,Course Description,Skills,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Beginner,"Write,a,Full,Length,Feature,Film,Script,In,thi...",Drama Comedy peering screenwriting film D...,"Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...",Beginner,"By,the,end,of,this,guided,project,you,will,be,...",Finance business plan persona user experienc...,"Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells",Advanced,"This,course,consists,of,a,general,presentation...",chemistry physics Solar Energy film lambda...,"Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers",Intermediate,"When,it,comes,to,numbers,there,is,always,more,...",accounts receivable dupont analysis analysis...,"Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Beginner,"In,this,course,you�ll,learn,how,to,effectively...",Data Analysis select sql database management...,"Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [26]:
df['tags'].iloc[1]

'Business,Strategy,Business,Model,Canvas,Analysis,with,MiroBeginnerBy,the,end,of,this,guided,project,you,will,be,fluent,in,identifying,and,creating,Business,Model,Canvas,solutions,based,on,previous,high-level,analyses,and,research,data.,This,will,enable,you,to,identify,and,map,the,elements,required,for,new,products,and,services.,Furthermore,it,is,essential,for,generating,positive,results,for,your,business,venture.,This,guided,project,is,designed,to,engage,and,harness,your,visionary,and,exploratory,abilities.,You,will,use,proven,models,in,strategy,and,product,development,with,the,Miro,platform,to,explore,and,analyse,your,business,propositions.,,We,will,practice,critically,examining,results,from,previous,analysis,and,research,results,in,deriving,the,values,for,each,of,the,business,model,sections.Finance  business plan  persona user experience  business model canvas  Planning  Business  project  Product Development  presentation  Strategy business business-strategy'

In [27]:
new_df = df[['Course Name','tags']]

In [28]:
new_df.head(5)

,Course Name,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...","Write,A,Feature,Length,Screenplay,For,Film,Or,..."
1,"Business,Strategy,Business,Model,Canvas,Analys...","Business,Strategy,Business,Model,Canvas,Analys..."
2,"Silicon,Thin,Film,Solar,Cells","Silicon,Thin,Film,Solar,CellsAdvancedThis,cour..."
3,"Finance,for,Managers","Finance,for,ManagersIntermediateWhen,it,comes,..."
4,"Retrieve,Data,using,Single-Table,SQL,Queries","Retrieve,Data,using,Single-Table,SQL,QueriesBe..."

In [29]:
new_df['tags'] = df['tags'].str.replace(',',' ') #remove the comma

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_15640\563390350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = df['tags'].str.replace(',',' ') #remove the comma

In [30]:
new_df.head(5)

,Course Name,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Write A Feature Length Screenplay For Film Or ...
1,"Business,Strategy,Business,Model,Canvas,Analys...",Business Strategy Business Model Canvas Analys...
2,"Silicon,Thin,Film,Solar,Cells",Silicon Thin Film Solar CellsAdvancedThis cour...
3,"Finance,for,Managers",Finance for ManagersIntermediateWhen it comes ...
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Retrieve Data using Single-Table SQL QueriesBe...

In [31]:
new_df.rename(columns = {'Course Name':'course_name'}, inplace = True) # remove the space

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_15640\915863416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df.rename(columns = {'Course Name':'course_name'}, inplace = True) # remove the space

In [32]:
new_df.head(5)

,course_name,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",Write A Feature Length Screenplay For Film Or ...
1,"Business,Strategy,Business,Model,Canvas,Analys...",Business Strategy Business Model Canvas Analys...
2,"Silicon,Thin,Film,Solar,Cells",Silicon Thin Film Solar CellsAdvancedThis cour...
3,"Finance,for,Managers",Finance for ManagersIntermediateWhen it comes ...
4,"Retrieve,Data,using,Single-Table,SQL,Queries",Retrieve Data using Single-Table SQL QueriesBe...

In [33]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the tags column

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_15640\172956468.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x:x.lower()) #lower casing the tags column

In [34]:
new_df.head(5)

,course_name,tags
0,"Write,A,Feature,Length,Screenplay,For,Film,Or,...",write a feature length screenplay for film or ...
1,"Business,Strategy,Business,Model,Canvas,Analys...",business strategy business model canvas analys...
2,"Silicon,Thin,Film,Solar,Cells",silicon thin film solar cellsadvancedthis cour...
3,"Finance,for,Managers",finance for managersintermediatewhen it comes ...
4,"Retrieve,Data,using,Single-Table,SQL,Queries",retrieve data using single-table sql queriesbe...

In [35]:
new_df.shape

(3522, 2)

In [36]:
#breaking down a sentence or any text into words by 
#performing preprocessing tasks like converting all words to lowercase,
#thus removing special characters. 
#In NLP models can’t understand textual data they only accept numbers, so this textual data needs to be vectorized.

from sklearn.feature_extraction.text import CountVectorizer

In [37]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [38]:
cv

CountVectorizer(max_features=5000, stop_words='english')

In [39]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [40]:
import nltk #for stemming process

In [41]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [42]:
#defining the stemming function
def stem(text):
    y=[]
    #string = " "
    #for i in y(x):
        #return string = string +
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [43]:
new_df['tags'] = new_df['tags'].apply(stem) #applying stemming on the tags column (To get the root word / basic word)

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_15640\1589318653.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem) #applying stemming on the tags column (To get the root word / basic word)

In [44]:
new_df['tags']

0       write a featur length screenplay for film or t...
1       busi strategi busi model canva analysi with mi...
2       silicon thin film solar cellsadvancedthi cours...
3       financ for managersintermediatewhen it come to...
4       retriev data use single-t sql queriesbeginneri...
                              ...
3517    capston retriev process and visual data with p...
3518    patrick henri forgotten founderintermediate�g ...
3519    busi intellig and data analyt gener insightsad...
3520    rigid bodi dynamicsbeginnerthi cours teach dyn...
3521    architect with googl kubernet engin production...
Name: tags, Length: 3522, dtype: object

In [45]:
from sklearn.metrics.pairwise import cosine_similarity 
#A commonly used approach to match similar documents is based on counting the
#maximum number of common words between the documents

In [46]:
similarity = cosine_similarity(vectors)

In [47]:
new_df['course_name'] = new_df['course_name'].str.replace(',',' ')

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_15640\2593390016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['course_name'] = new_df['course_name'].str.replace(',',' ')

In [48]:
# FUNCTION FOR RECOMMENDATION SYSTEM 
def recommend(course):
    course_index = new_df[new_df['course_name'] == course].index[0]  
   # print(course_index)
    distances = similarity[course_index]
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:7]
    
    #string = ""
    for i in course_list:
        print(new_df.iloc[i[0]].course_name)
        #string = string + new_df.iloc[i[0]].course_name

In [49]:
new_df.head(6)

,course_name,tags
0,Write A Feature Length Screenplay For Film Or ...,write a featur length screenplay for film or t...
1,Business Strategy Business Model Canvas Analys...,busi strategi busi model canva analysi with mi...
2,Silicon Thin Film Solar Cells,silicon thin film solar cellsadvancedthi cours...
3,Finance for Managers,financ for managersintermediatewhen it come to...
4,Retrieve Data using Single-Table SQL Queries,retriev data use single-t sql queriesbeginneri...
5,Building Test Automation Framework using Selen...,build test autom framework use selenium and te...

In [50]:
recommend('Finance for Managers')

Fundamentals of financial and management accounting
Introduction to Finance The Basics
The Language and Tools of Financial Analysis
Corporate finance Know your numbers 2
Finance for Non-Financial Professionals
Operations Management Analysis and Improvement Methods

In [51]:
recommend("Business Strategy Business Model Canvas Analysis with Miro")

Product Development Customer Persona Development with Miro
Product and Service Development Empathy Mapping with Miro
Product Development Customer Journey Mapping with Miro
Analyzing Macro-Environmental Factors Using Creately
Business Strategy in Practice (Project-centered Course)
Innovating with the Business Model Canvas

In [52]:
recommend('Business Statistics and Analysis Capstone')

Statistics with R Capstone
Data Analysis and Reporting in SAS Visual Analytics
Exploratory Data Analysis With Python and Pandas
Increasing Real Estate Management Profits Harnessing Data Analytics
Reproducible Research
Reproducible Research

In [53]:
recommend('The Roles and Responsibilities of Nonprofit Boards of Directors within the Governance Process')

The Factors that Influence the Effectiveness of Boards and the Governance Process
Introduction to the Nonprofit Sector Nonprofit Organizations Nonprofit Leadership and Governance
Capstone - Managing Board Change for Higher Levels of Leadership and Governance Effectiveness
Time to Reorganize! Understand Organizations Act and Build a Meaningful World.
Managerial Accounting Tools for Facilitating and Guiding Business Decisions
International Organizations Management

In [54]:
recommend('How to finance your venture ?')

Finance for Startups
How to Finance and Grow Your Startup � Without VC
Startup Valuation Methods
New Venture Finance Startup Funding for Entrepreneurs
Private Equity and Venture Capital
Discounted Cash Flow Modeling

In [55]:
import pickle

In [56]:
pickle.dump(recommend ,open('Course_Recommendation.pkl', 'wb'))