In [1]:
#import basic library
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read the data file using pandas 
df = pd.read_csv('movies.csv')

In [3]:
df.head(6)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller

In [4]:
df.shape

(9742, 3)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

In [6]:
df.isnull().sum()

movieId    0
title      0
genres     0
dtype: int64

In [7]:
df['title'].value_counts()

Emma (1996)                               2
War of the Worlds (2005)                  2
Confessions of a Dangerous Mind (2002)    2
Eros (2004)                               2
Saturn 3 (1980)                           2
                                         ..
Lost and Delirious (2001)                 1
Rape Me (Baise-moi) (2000)                1
Alice (1990)                              1
Another Woman (1988)                      1
Andrew Dice Clay: Dice Rules (1991)       1
Name: title, Length: 9737, dtype: int64

In [8]:
df = df[['title','genres']]

In [9]:
df['genres'] = df['genres'].str.replace('|',',')

C:\Users\SNEHA\AppData\Local\Temp\ipykernel_4564\1211175713.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['genres'] = df['genres'].str.replace('|',',')

In [10]:
df.head(10)

,title,genres
0,Toy Story (1995),"Adventure,Animation,Children,Comedy,Fantasy"
1,Jumanji (1995),"Adventure,Children,Fantasy"
2,Grumpier Old Men (1995),"Comedy,Romance"
3,Waiting to Exhale (1995),"Comedy,Drama,Romance"
4,Father of the Bride Part II (1995),Comedy
5,Heat (1995),"Action,Crime,Thriller"
6,Sabrina (1995),"Comedy,Romance"
7,Tom and Huck (1995),"Adventure,Children"
8,Sudden Death (1995),Action
9,GoldenEye (1995),"Action,Adventure,Thriller"

In [11]:
df['genres'] = df['genres'].apply(lambda x:x.lower()) #lower casing the genres column

In [12]:
df.head(5)

,title,genres
0,Toy Story (1995),"adventure,animation,children,comedy,fantasy"
1,Jumanji (1995),"adventure,children,fantasy"
2,Grumpier Old Men (1995),"comedy,romance"
3,Waiting to Exhale (1995),"comedy,drama,romance"
4,Father of the Bride Part II (1995),comedy

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

In [14]:
cv = CountVectorizer(max_features=5000,stop_words='english')

In [15]:
vectors = cv.fit_transform(df['genres']).toarray()

In [16]:
import nltk #for stemming process

In [17]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [18]:
#defining the stemming function
def stem(text):
    y=[]
    #string = " "
    #for i in y(x):
        #return string = string +
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [19]:
df['genres'] = df['genres'].apply(stem) #applying stemming on the tags column (To get the root word / basic word)

In [20]:
df['genres']

0       adventure,animation,children,comedy,fantasi
1                        adventure,children,fantasi
2                                        comedy,rom
3                                  comedy,drama,rom
4                                            comedi
                           ...
9737                action,animation,comedy,fantasi
9738                       animation,comedy,fantasi
9739                                          drama
9740                                    action,anim
9741                                         comedi
Name: genres, Length: 9742, dtype: object

In [21]:
from sklearn.metrics.pairwise import cosine_similarity

In [22]:
similarity = cosine_similarity(vectors)

In [23]:
# FUNCTION FOR RECOMMENDATION SYSTEM 
#def recommend(course):
 #   title_index = df[df['title'] == course].index[0] # THE VALUE IS BEEN PASSED TO course_name IF it matches then similarity is calculated 
   # print(course_index)
  #  distances = similarity[title]
   # title_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:7]
    
    #string = ""
    #for i in title_list:
     #   print(df.iloc[i[0]].title)
        #string = string + new_df.iloc[i[0]].course_name

In [24]:
# FUNCTION FOR RECOMMENDATION SYSTEM 
def recommend(course):
    title_index = df[df['title'] == course].index[0] # THE VALUE IS BEEN PASSED TO course_name IF it matches then similarity is calculated 
   # print(course_index)
    distances = similarity[title_index]
    title_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:7]
    
    #string  ""
    for i in title_list:
        print(df.iloc[i[0]].title)
        #string = string + new_df.iloc[i[0]].course_name

In [28]:
recommend('Toy Story (1995)')

Antz (1998)
Toy Story 2 (1999)
Adventures of Rocky and Bullwinkle, The (2000)
Emperor's New Groove, The (2000)
Monsters, Inc. (2001)
Wild, The (2006)

In [29]:
recommend('Father of the Bride Part II (1995)')

Four Rooms (1995)
Ace Ventura: When Nature Calls (1995)
Bio-Dome (1996)
Friday (1995)
Black Sheep (1996)
Mr. Wrong (1996)

In [1]:
pip install tensorflow

Note: you may need to restart the kernel to use updated packages.

C:\Users\SNEHA\anaconda2\python.exe: No module named pip

In [2]:
pip --version

Note: you may need to restart the kernel to use updated packages.

C:\Users\SNEHA\anaconda2\python.exe: No module named pip

In [3]:
python --version

NameError: name 'python' is not defined